body {
  background: rgb(190, 229, 255);
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: "Courier New", monospace;
}
#all-contents {
  max-width: 800px;
  margin: auto;
}

nav {
  background: rgb(161, 195, 255);
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
  border-style: groove;
  border-color: rgb(10, 10, 10);
  border-width: 1px
}
h1 {
  display: flex;
  align-items: center;
  color: white;
  flex: 1;
  margin: 0;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
}
main {
  background: rgb(255, 254, 236);
  display: flex;
  border-style: groove;
  border-color: rgb(48, 154, 216);
  border-width: 1px;
}
.sidebar {
  margin-right: 20px;
  margin-top: 40px;
  margin-left: 15px;
  padding: 10px;
}

.sidebar-img {
  width: 250px;
}
.content {
  flex: 1;
  padding: 50px;
}

#interests {
  border: 4px #c1ccff outset;
  padding: 8px;
}
h2,
h3 {
  margin: 0px;
}
.content h1 {
  color: rgb(209, 57, 57);
  border-left: 4px solid rgb(42, 176, 209);
  background-color: rgb(237, 253, 255);
  
}

#portfolio {
  list-style-type: none;
  padding-left: 10px;
}

#portfolio li {
  background: #bbf5fd;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #d34848;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}
