body{
    background: rgb(225, 227, 252);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: "Courier New", monospace;
}
#all-contents{
    max-width: 800px;
        margin: auto;
}


nav{
    background: rgb(151, 200, 255);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1{
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul{
    list-style-image: none;
}
.nav-li{
    display: inline-block;
    padding: 0 10px;
}
main {
    background: rgb(243, 192, 235);
    display: flex;
}
.sidebar{
    margin-right: 20px;
    margin-top: 40px;
    margin-left: 15px;
    padding: 10px;
}

.sidebar-img {
    width: 250px;
}
.content {
    flex: 1;
    padding: 50px;
}

#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3{ 
    margin: 0px;
}